.telaflashcard {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    width: 100%;

    background-color: #E5E5E5;
}

.telapadrao {
    display: flex;
    justify-content: center;
}

header {
    margin-left: 31.7px;
    margin-top: 26.01px;
}

section{
    height: 60vh;
    width: 392px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    margin-top: 50px;

    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    font-weight: 700;
}

.status {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 1vh;
    height: 5vh;
    width: 100%;

} 

.texto {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 46vh;

}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-right: 1vh;

    width: 100%;
    height: 10vh;
}