.telaflashcard {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    width: 100%;

    background-color: #E5E5E5;
}

.telapadrao {
    display: flex;
    justify-content: center;
}

header {
    margin-left: 31.7px;
    margin-top: 26.01px;
}

section{
    height: 60vh;
    width: 392px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    margin-top: 50px;

    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    font-weight: 700;
}