.footerflashcardvirado {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    font-weight: 400;

}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 12px;

    background-color: #FFFFFF;

    height: 9vh;
    width: 19%;
}

.neutro {
    border: 3px solid #000000;
}

.incorreto {
    border: 3px solid #F74848;
}

.correto {
    border: 3px solid #62DB38;
}

.imediatamente {
    border: 3px solid #FFEF61;
}

.font-texto {
    font-weight: 700;
}